﻿@model Subscription

<div class="ribbitWrapper">
    <img class="avatar" src="http://www.gravatar.com/avatar/@Model.Author.Profile.GetEmailHash()">
        <div class="subText"><span class="name">@Model.Author.Username</span> subscribed for <span class="name">@(Model.Target?.Username ?? "somebody")</span><span class="time"> @Model.FriendlyTimestamp()</span></div>
</div>

