﻿@model MVC_Ribbit.ViewModel.BuddiesViewModel

@{
    ViewBag.Title = "Followers";
}

@section RightPanel {
    @{
        Html.RenderAction("Create", "Home");
    }
}

@Html.Partial("_UserPartial", Model.User)

<div class="panel left">
    <h1>Your followers:</h1>
    @if (!Model.Buddies.Any())
    {
        @Html.Partial("EmptyBuddies");
    }
    else
    {
        foreach (var buddy in Model.Buddies)
        {
            @Html.Partial("_UserProfilePartial", buddy)
        }
    }
</div>

