﻿@model IEnumerable<ActivityWrapper>

@{
    ViewBag.Title = "RecentActivity";
}

@section RightPanel {
    @{ Html.RenderAction("Create");
    }
}

@section LeftPanel {
    @if (Model.Any())
    {
        foreach (var action in Model)
        {
            if (action.Ribbit != null)
            {
                @Html.Partial("_RibbitPartial", action.Ribbit);
            }
            else if (action.Subscription != null)
            {
                @Html.Partial("_SubscriptionPartial", action.Subscription);
            }
        }
    }
    else
    {
        <p>Quick! Post a Ribbit!</p>
    }

}
