@text-color: #3F3E3D;
@border-color: #D2D2D2;
@content-width: 860px;

.antialiased (@color) {
	color: @color;
	text-shadow: @color 0 0 1px;
}

.gradient4f (@p1, @c1, @p2, @c2, @p3, @c3, @p4, @c4) {
	background: @c1;
	background: -moz-linear-gradient(top,  @c1 @p1,  @c2 @p2,  @c3 @p3,  @c4 @p4);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(@p1, @c1), color-stop(@p2, @c2), color-stop(@p3, @c3), color-stop(@p4, @c4));
	background: -webkit-linear-gradient(top, @c1 @p1, @c2 @p2, @c3 @p3, @c4 @p4);
	background: -o-linear-gradient(top, @c1 @p1, @c2 @p2, @c3 @p3, @c4 @p4);
	background: -ms-linear-gradient(top, @c1 @p1, @c2 @p2, @c3 @p3, @c4 @p4);
	background: linear-gradient(to bottom, @c1 @p1, @c2 @p2, @c3 @p3, @c4 @p4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@c1', endColorstr='@c4', GradientType=0);
}

* {
	font-family: Helvetica, Arial, sans-serif;
	color: @text-color;
}

body {
	background: white url(/gfx/bg.png);
	margin: 0; padding: 0;
}

input {
	width: 236px;
	height: 26px;
	border: 1px solid @border-color;
	padding: 0 10px;
	outline: none;
	font-size: 15px;
	&:focus {
		background: #FFFDF2;
	}
}

input[type="submit"] {
	height: 28px;
	width: auto;
	border: 1px solid #7BC574;
	border-radius: 2px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 0 20px;
	cursor: pointer;
	.gradient4f(0%, #8CD585, 23%, #82CD7A, 86%, #55AD4C, 100%, #4FA945);
}

#logIn {
	float: right;
	margin-top: 20px;
}

a {
	text-decoration: none;
	.antialiased(#58B84E);
	&:hover {
		text-decoration: underline;
	}
}

.wrapper {
	width: @content-width;
	margin: auto;
}

header {
	background: url(/gfx/bg-header.png);
	height: 85px;
	width: 100%;
	div.wrapper {
		padding: 11px 0;
		img {
			position: relative;
			top: 10px;
			margin: 0 15px 0 0;
		}
		span {
			font-size: 18px;
			margin: 0 42px 0 0;
		}
		form {
			display: inline;
			input {
				margin: 0 0 0 14px;
			}
			input[type="text"], input[type="password"]{
				width:189px;
			}
		}
		#btnLogOut {
			float: right;
			margin: 20px 0 0 0;
		}
		nav{
			display:inline-block;
			a{
				margin-right:18px;
			}
    	}
	}
}

#content {
	margin-bottom: 15px;
	min-height: 560px;
	div.wrapper {
		margin: 38px auto;
		img {
			border-radius: 6px;
			float: left;
		}
		div.panel {
			border: 1px solid @border-color;
			background: white;
			margin: 0;
			margin-bottom: 29px;
			border-radius: 6px;
			font-size: 14px;
			&.right {
				width: 303px;
				height: 313px;
				float: right;
				textarea.ribbitText {
					width: 249px;
					height: 160px;
					border: 1px solid @border-color;
				}
			}
			&.left {
				width: @content-width - 327;
				float: left;
				div.ribbitWrapper {
					padding: 15px 0;
					border-bottom: 1px solid @border-color;
					min-height:80px;
					&:last-child {
						border: none;
					}
					span {
						&.name {
							font-size: 18px;
							color: #58B84E;
						}
						&.time {
							font-size: 12px;
							color: #CCC;
						}
					}
					img.avatar {
						margin: 0 19px 0 20px;
						float: left;
					}
					p {
						margin: 5px 50px 0 119px;
						padding: 0;
						text-align: justify;
						line-height: 1.5;
						.antialiased(@text-color);
						span.spacing {
							padding-left: 9px;
							margin-left: 9px;
							height: 10px;
							border-left: 1px solid @border-color;
						}
					}
					div.subText {
						padding-top: 22px;
					}
				}

                textarea.ribbitText {
					width: 249px;
					height: 160px;
					border: 1px solid @border-color;
				}
			}
			
			* {
				margin: 6px 0;
			}
			form {
				padding: 0 23px;
			}
			h1 {
				border-bottom: 1px solid @border-color;
				margin: 5px 0;
				font-weight: normal;
				font-size: 18px;
				padding: 13px 23px;
				height: 23px;
			}
			p {
				padding: 0 24px;
				margin: 18px 0;
			}
		}
		.flash {
			padding: 10px;
			margin: 20px 0;
			&.error{
				background: #ffefef;
			    color: #4c1717;
			    border: 1px solid #4c1717;
			}
			&.warning{
				background: #ffe4c1;
			    color: #79420d;
			    border: 1px solid #79420d;
			}
			&.notice{
				background: #efffd7;
			    color: #8ba015;
			    border: 1px solid #8ba015;
			}
		}
	}
}

footer {
	background: url(/gfx/bg-footer.png);
	height: 251px;
	font-size: 14px;
	clear: both;
	div.wrapper {
		padding: 15px;
		img {
			float: right;
		}
	}
}
